<section>
  <section>
  <h1>Products</h1>
  
  

  <form id="filtersForm" action="/products" method="GET">

    <div>
      <label for="sort">Ordenar por:</label>
      <select name="sort" id="sort">
        <option value="price_asc">Precio: Menor a Mayor</option>
        <option value="price_desc">Precio: Mayor a Menor</option>
        <option value="title_asc">Nombre: A-Z</option>
        <option value="title_desc">Nombre: Z-A</option>
      </select>
    </div>
<label for="limitSelect">Mostrar:</label>
  <select id="limitSelect" name="limit">
    <option value="5" >5</option>
    <option value="10" >10</option>
    <option value="25" >25</option>
  </select>

    <div>
      <label for="category">Filtrar por categoría:</label>
      <select name="category" id="category">
        <option value="buzo">Buzos</option>
      </select>
    </div>

    <button type="submit">Aplicar Filtros</button>
  </form>

  <!-- Lista de productos -->
  <div id="productsList">
    {{#each products.payload}}
      <div class="product">
        <h3>{{this.title}}</h3>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
      </div>
    {{/each}}
  </div>

  <!-- Paginación -->
  <div id="pagination">
    {{#if products.hasPrevPage}}
      <button data-url="{{products.prevLink}}" class="pagination-button">Página Anterior</button>
    {{/if}}
    {{#if products.hasNextPage}}
      <button data-url="{{products.nextLink}}" class="pagination-button">Página Siguiente</button>
    {{/if}}
  </div>
</section>


<button  id="viewCart" >View Cart</button>
</section>
<script src="/js/pages.js"></script>